.navbar-inverse .navbar-nav li a {
    color: rgb(100,255,218);

}

.navbar-inverse .navbar-brand {
    color: rgb(100,255,218);


}



body{
		
     background-image: url("seat.jpg");
    

}


.heading{
	color: white;
	font-family: Calibre, system, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, serif;
	padding-left: 550px;
	font-size: 100px;
}



#faceBook{
	padding-left: 550px;	
	

}
